<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Friend Finder</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.2/css/bulma.min.css">
    <link rel="stylesheet" href="style/master.css">
  </head>
  <body>
    <div class="modal">
      <div class="modal-background"></div>
      <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Meet your new best friend!</p>
      </header>
    </div>
      <button class="modal-close is-large" aria-label="close"></button>
    </div>

    <main>
      <section class="hero big-image" id="hero">
        <div class="container">
        <div class="hero-body">
            <h1 class="title">
              Welcome to Friend Finder
            </h1>
            <h2 class="subtitle">
              Your friends are here.
            </h2>
          </div>
        </div>

      <div class="container" id="teaser">
        <div class="columns has-text-black">
          <div class="column transbackground">
            <h4>Friend finder is easy</h4>
            <p>Just a few clicks is all it takes to test if you're a perfect match.</p>
          </div>
          <div class="column transbackground">
            <h4>Friend finder is fast</h4>
            <p>Stop waiting for all your friends to show up! Get your results now and join us.</p>
          </div>
          <div class="column transbackground">
            <h4>Friend finder is correct</h4>
            <p>You'll never get a bad match. Our algorithm is absolutely flawless. Guaranteed.</p>
          </div>
        </div>
      </div>

      </section>

      <section class="big-image"id="get-started">
        <div class="is-vcentered">
          <div class="columns">
            <div class="column is-one-third is-offset-one-third">
              <a class="button is-primary is-inverted is-outlined" id="start-btn" style="width:100%">Get Started</a>
            </div>
          </div>
        </div>
      </section>

      <section id="quiz" class="hidden" style="margin:24px;">
        <div class="container">

      		<h2>Survey Questions</h2>
      		<hr>
          <form class="" action="/api/friend" method="post">
            {{{body}}}

            <div class="field">
              <div class="control">
                <button class="button is-primary" id="submit-btn">Submit</button>
              </div>
            </div>
          </form>
     </div>
      </section>

      <section id="results">

      </section>

    </main>

    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <p>&copy John Torrence 2017. Check me out on
            <a class="icon" href="https://github.com/torrencj">
              <i class="fa fa-github"></i>
            </a></p>
        </div>
      </div>
    </footer>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="app.js"></script>

    <script id="modal-template" type="text/x-handlebars-template">
      <p>{{name}}</p>
    </script>

  </body>
</html>
