/*body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  flex:1;
}*/

#hero{
  min-height: 90vh;
  background-image: url(friends-hero.jpg);
}

.big-image {
  background-size: 100%, auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#teaser {
  margin: 24px;
}

#get-started {
  /*min-height:90vh;*/
  background: rgb(40, 86, 160)

}

.transbackground {
  background: rgba(255,255,255, 0.8);
  border-radius: 2px;
}

.column {
  margin: 10px;
}

.footer {
  /*max-height: 100px*/
  /*color: white;*/
  padding: 0;
  padding-top: 24px;
  /*background: rgb(40, 86, 160)*/
  /*margin-top: 10vh;*/
}

.icon {
  color: rgb(40, 86, 160)
}

.button.is-primary.is-inverted.is-outlined:hover {
  color: rgb(40, 86, 160);
}
